/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

router-outlet {
  display: none;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 768px; */
/* 1200px */
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
  line-height: 100%;
  color: #14191C;
}

img {
  width: 100%;
  height: 100%;
}

.text-right {
  text-align: right;
}

.large-heading {
  font-weight: 400;
  font-size: 39px;
  font-size: 2.4375rem;
  line-height: 59px;
  line-height: 3.6875rem;
}
@media screen and (min-width: 48em) {
  .large-heading {
    font-size: 39px;
    font-size: 2.4375rem;
    line-height: 59px;
    line-height: 3.6875rem;
  }
}
@media screen and (min-width: 75em) {
  .large-heading {
    font-size: 39px;
    font-size: 2.4375rem;
    line-height: 59px;
    line-height: 3.6875rem;
  }
}

.content-heading {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 31px;
  line-height: 1.9375rem;
  font-weight: 700;
}
@media screen and (min-width: 48em) {
  .content-heading {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 31px;
    line-height: 1.9375rem;
  }
}

.copy, .accent {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px;
  line-height: 1.6875rem;
}
@media screen and (min-width: 75em) {
  .copy, .accent {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}

.accent {
  font-weight: 700;
}
.accent--reverse {
  color: #ffffff;
}
.accent--reverse-bg {
  background-color: #007CBF;
}
.accent--colour {
  color: #007CBF;
}

.sub-copy {
  color: rgba(20, 25, 28, 0.55);
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22px;
  line-height: 1.375rem;
}
@media screen and (min-width: 75em) {
  .sub-copy {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}

.error-copy {
  color: #BF0915;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 22px;
  line-height: 1.375rem;
}
@media screen and (min-width: 75em) {
  .error-copy {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
}

.link {
  color: #14191C;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px;
  line-height: 1.6875rem;
}
.link:focus {
  color: #D13250;
}
.link:hover {
  color: #D13250;
}
.link:active {
  color: #952137;
}

.snippet {
  background-color: rgba(20, 25, 28, 0.05);
  border: 1px solid rgba(20, 25, 28, 0.25);
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 6px 5px 4px 5px;
}
.snippet__copy {
  color: #BF0915;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.styleguide__heading {
  margin-top: 40px;
}
.styleguide__heading:first-of-type {
  margin-top: 0;
}
.styleguide__heading-content {
  padding-bottom: 10px;
}
.styleguide__content-grp {
  margin-bottom: 20px;
}
.styleguide__content-grp:last-of-type {
  margin-bottom: 0;
}

pre, code {
  white-space: normal;
}

.information {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px;
  line-height: 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 75em) {
  .information {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}
.information__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  font-weight: 700;
}
.information__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.button {
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  min-width: 120px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
}
.button--sm {
  font-weight: 400;
  min-width: auto;
  padding: 6px 10px 4px 10px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.button--primary {
  background-color: #007CBF;
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.button--primary:hover {
  background-color: #004a73;
}
.button--secondary {
  background-color: #ffffff;
  border: 2px solid #007CBF;
  color: #007CBF;
  -webkit-transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.button--secondary:hover {
  border-color: #004a73;
  color: #004a73;
}
.button--link {
  background-color: transparent;
  border: 2px solid transparent;
  color: #007CBF;
  text-decoration: underline;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.button--link:focus {
  color: #D13250;
}
.button--link:hover {
  color: #D13250;
}
.button--link:active {
  color: #952137;
}
.button--destructive {
  background-color: #BF0915;
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.button--destructive:hover {
  background-color: #76060d;
}
.button--disabled {
  background-color: rgba(20, 25, 28, 0.25);
  border: 2px solid transparent;
  color: rgba(20, 25, 28, 0.25);
  cursor: not-allowed;
}

.pill {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 5px 11px 5px 11px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
}
.pill:hover .pill__icon {
  left: 2px;
}
.pill__icon {
  bottom: 1px;
  color: inherit;
  font-size: 10px;
  left: 0;
  line-height: 10px;
  padding-left: 0.5rem;
  position: relative;
  -webkit-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}
.pill--primary {
  background-color: #007CBF;
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.pill--primary:hover {
  background-color: #004a73;
}
.pill--accent {
  background-color: #D13250;
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.pill--accent:hover {
  background-color: #952137;
}
.pill--subtle {
  background-color: rgba(20, 25, 28, 0.35);
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.pill--subtle:hover {
  background-color: rgba(20, 25, 28, 0.55);
}

.action {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-weight: 700;
  min-width: 120px;
  padding: 11px 20px 9px 20px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  background-color: #007CBF;
  border: 2px solid #007CBF;
  color: #ffffff;
  -webkit-transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.action:hover {
  background-color: #004a73;
  border-color: #004a73;
}

.top-navigation {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(20, 25, 28, 0.35);
  -webkit-box-shadow: 0 7px 14px 0 rgba(20, 25, 28, 0.1);
          box-shadow: 0 7px 14px 0 rgba(20, 25, 28, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: header;
  padding: 10px;
  width: 100%;
  z-index: 500;
}
.top-navigation__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 36px;
  width: 159px;
}
.top-navigation__items {
  display: none;
}
@media screen and (min-width: 960px) {
  .top-navigation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.top-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.top-navigation__item a {
  color: #14191C;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-decoration: none;
  padding: 12px 12px;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.top-navigation__item a:hover {
  background-color: #007CBF;
  border-radius: 2px;
  color: #ffffff;
}
.top-navigation__item a:active {
  background-color: #004a73;
  border-radius: 2px;
  color: #ffffff;
}
.top-navigation__item--active a {
  background-color: rgba(0, 124, 191, 0.15);
  border-radius: 2px;
  color: #007CBF;
  font-weight: 700;
}

.sidebar {
  background-color: rgba(20, 25, 28, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-area: sidebar;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px 10px 10px 10px;
}
@media screen and (min-width: 960px) {
  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sidebar__divider {
  background-color: rgba(20, 25, 28, 0.15);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 1px;
  margin: 10px 0;
}
.sidebar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 960px) {
  .sidebar__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.sidebar__item a {
  color: rgba(20, 25, 28, 0.55);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-decoration: none;
  padding: 12px 12px;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.sidebar__item a:hover {
  background-color: #007CBF;
  border-radius: 2px;
  color: #ffffff;
}
.sidebar__item a:active {
  background-color: #004a73;
  border-radius: 2px;
  color: #ffffff;
}
.sidebar__item--active a {
  background-color: rgba(0, 124, 191, 0.15);
  border-radius: 2px;
  color: #007CBF;
  font-weight: 700;
}

.panel-style {
  background-color: #ffffff;
  border: 1px solid rgba(20, 25, 28, 0.15);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-style--center {
  text-align: center;
}
.panel-style--shadow {
  -webkit-box-shadow: 0 7px 14px 0 rgba(20, 25, 28, 0.1);
  box-shadow: 0 7px 14px 0 rgba(20, 25, 28, 0.1);
}

.panel-error {
  background-color: #BF0915;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 7px;
  position: relative;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.panel-error:after {
  content: "\f057";
  font-family: "FontAwesome";
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 17px;
  font-size: 1.0625rem;
}

.content-panel, .content-panel--lg, .content-panel--full {
  padding: 20px;
}
.content-panel--xs {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.content-panel--sm {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}
.content-panel--md {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}
.content-panel--lg {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}
.content-panel--full {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

.overlay {
  background-color: rgba(20, 25, 28, 0.75);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 800;
}
.overlay__content {
  background-color: #ffffff;
  border: 1px solid rgba(20, 25, 28, 0.15);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 7px 21px 0 rgba(20, 25, 28, 0.35);
          box-shadow: 0 7px 21px 0 rgba(20, 25, 28, 0.35);
  left: 50%;
  line-height: 0;
  margin: 0 auto;
  margin-right: -50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 45%;
  z-index: 900;
}
.overlay__heading {
  margin-bottom: 10px;
}
.overlay__copy {
  margin-bottom: 20px;
}
.overlay[aria-hidden="true"] {
  display: none;
}
.overlay[aria-hidden="false"] {
  display: block;
}

.noscroll {
  overflow: hidden;
}

.data-table {
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 27px;
  line-height: 1.6875rem;
}
.data-table thead > tr > th,
.data-table tr th {
  background-color: #007CBF;
  color: #ffffff;
  font-weight: 700;
}
.data-table tbody > tr:nth-of-type(even),
.data-table tr:nth-of-type(even) {
  background-color: rgba(20, 25, 28, 0.05);
}
.data-table tbody > tr:nth-of-type(odd),
.data-table tr:nth-of-type(odd) {
  background-color: rgba(20, 25, 28, 0.1);
}
.data-table th, .data-table td {
  padding: 8px 10px 7px 10px;
}
.data-table__link {
  color: inherit;
}
.data-table__link:focus {
  color: #D13250;
}
.data-table__link:hover {
  color: #D13250;
}
.data-table__link:active {
  color: #952137;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-std {
  width: auto;
  margin-bottom: 20px;
}
.form-ctr {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field:last-of-type {
  margin-bottom: 0;
}
.form-field__label {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px;
  line-height: 1.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}
@media screen and (min-width: 75em) {
  .form-field__label {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}
.form-field__input {
  font-weight: 400;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 27px;
  line-height: 1.6875rem;
  background-color: #ffffff;
  border: 1px solid rgba(20, 25, 28, 0.35);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(20, 25, 28, 0.55);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 42px;
  padding: 0 0 0 10px;
}
@media screen and (min-width: 75em) {
  .form-field__input {
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}
.form-field__input:focus {
  border: 2px solid #007CBF;
}

.tabs--pane {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid rgba(20, 25, 28, 0.35);
}
.tabs--control {
  display: none;
}
.tabs--label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: rgba(20, 25, 28, 0.35);
  border: 1px solid transparent;
}
.tabs--label:before {
  font-family: FontAwesome;
  font-weight: 900;
  margin-right: 10px;
}
.tabs--label[for*='1']:before {
  content: '\f107';
}
.tabs--label[for*='2']:before {
  content: '\f107';
}
.tabs--label[for*='3']:before {
  content: '\f107';
}
.tabs--label[for*='4']:before {
  content: '\f107';
}
.tabs--label:hover {
  color: #14191C;
  cursor: pointer;
}

input:checked + label {
  border: 1px solid rgba(20, 25, 28, 0.35);
  border-bottom: 1px solid #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #007CBF;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.pageframe {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "header" "body";
  height: 100%;
}

.pagebody {
  display: grid;
  grid-area: body;
  grid-template-columns: auto;
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas: "sidebar" "content";
  height: 100%;
}
@media screen and (min-width: 960px) {
  .pagebody {
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";
  }
}

.contentframe {
  grid-area: content;
  margin: 20px 20px 0 20px;
}

.page-content {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fit);
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

.page-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-span: 12;
  grid-column: span 12;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "breadcrumb breadcrummb" "heading action";
  margin-bottom: 20px;
}

.page-breadcrumb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: breadcrumb;
  margin-bottom: 40px;
}
.page-breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.page-breadcrumb__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.page-breadcrumb__separator {
  color: rgba(20, 25, 28, 0.35);
  font-size: 0.875rem;
  line-height: 1.6875rem;
  padding: 0 0.4375rem 0 0.5rem;
}

.page-heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heading;
}

.page-action {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-area: action;
  -ms-grid-column-align: end;
  justify-self: end;
}

.content-half {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.content-full {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fit);
}
.wrapper--outer {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px;
}
@media screen and (min-width: 788px) {
  .wrapper--outer {
    max-width: 48em;
  }
}
@media screen and (min-width: 980px) {
  .wrapper--outer {
    max-width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  .wrapper--outer {
    max-width: 75em;
  }
}
.wrapper--inner {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}
