.large-heading {
    font-weight: $regular;
    @include font-size(39px);
    @include line-height(59px);
    @media screen and (min-width: $med) {
        @include font-size(39px);
        @include line-height(59px);
    }
    @media screen and (min-width: $lg) {
        @include font-size(39px);
        @include line-height(59px);
    }
}

.content-heading {
    @include font-size(21px);
    @include line-height(31px);
    font-weight: $bold;
    @media screen and (min-width: $med) {
        @include font-size(21px);
        @include line-height(31px);
    }
}

.copy { 
    //display: block;
    //padding-bottom: 1.25em;
    font-weight: $regular;
    @include font-size(17px);
    @include line-height(27px);
    @media screen and (min-width: $lg) {
        @include font-size(17px);
        @include line-height(27px);
    }
    // &:last-of-type {
    //     padding-bottom: 0;
    // }
}

.accent { 
    //display: block;
    //padding-bottom: 1.25em;
    font-weight: $bold;

    @include font-size(17px);
    @include line-height(27px);
    @media screen and (min-width: $lg) {
        @include font-size(17px);
        @include line-height(27px);
    }

    &--reverse {
        color: $white;
    }

    &--colour {
        color: $primary;
    }    
}

.sub-copy {
    color: $dark55;
    font-weight: $regular;
    @include font-size(15px);
    @include line-height(22px);
    @media screen and (min-width: $lg) {
        @include font-size(15px);
        @include line-height(22px);
    }
}

.error-copy {
    color: $negative;
    font-weight: $regular;
    @include font-size(15px);
    @include line-height(22px);
    @media screen and (min-width: $lg) {
        @include font-size(15px);
        @include line-height(22px);
    }
}

.link {
    color: $dark;
    font-family: $font-stack;
    font-weight: $bold;
    @include font-size(17px);
    @include line-height(27px);
    &:active {
        color: $accentDark;
    }
    &:focus {
        color: $accent;
    }
    &:hover {
        color: $accent;
    }
}