html, body {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
    line-height: 100%;
    color: $dark;
}

img {
    width: 100%;
    height: 100%;
}