.button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: $bold;
    min-width: 120px;
    padding: 11px 20px 9px 20px;
    text-decoration: none;
    @include font-size(17px);
    @include line-height(17px);

    &--primary {
        background-color: $primary;
        border: 2px solid $primary;
        color: $white;
        transition:
            background-color 0.1s ease-in-out,
            border-color 0.1s ease-in-out;
        &:hover {
            background-color: $primaryDark;
            border-color: $primaryDark;
        }
    }

    &--secondary {
        background-color: $white;
        border: 2px solid $primary;
        color: $primary;
        transition:
            border-color 0.1s ease-in-out,
            color 0.1s ease-in-out;
        &:hover {
            border-color: $primaryDark;
            color: $primaryDark;
        }
    }
}

.action {
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: $bold;
    min-width: 120px;
    padding: 11px 20px 9px 20px;
    text-decoration: none;
    font-family: $font-stack;
    @include font-size(17px);
    @include line-height(17px);
    background-color: $primary;
    border: 2px solid $primary;
    color: $white;
    transition:
        background-color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;
    &:hover {
        background-color: $primaryDark;
        border-color: $primaryDark;
    }    
}