.form {
    display: flex;
    flex-direction: column;
    &-std {
        width: auto;
        margin-bottom: 20px;       
    }
    &-ctr {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 75%;
    }
}

.form-field {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }

    > .form-field__error {
        display: none;
    }

    &--disabled {
        > .form-field__input {
            background-color: $dark5;
            border: 1px solid $dark15;
            color: $dark25;
            pointer-events: none;
        }
    }

    &--error {    
        .form-field__error {
            display: block;
        }
        > .form-field__input {
            border: 2px solid $negative;
            padding: 0 0 0 9px;
            color: $negative;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba($negative,0.5);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: rgba($negative,0.5);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: rgba($negative,0.5);
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: rgba($negative,0.5);
            }            
            &:focus {
                border: 2px solid $negativeDark;
                color: $dark;
            }       
        }        
    }

    &__label {
        @include standard-font;
        flex: 1 1 auto;
        text-align: left;
    }

    &__input {
        @include standard-font;
        background-color: $white;
        border: 1px solid $dark35;
        border-radius: 2px;
        box-sizing: border-box;
        color: $dark;
        flex: 1 1 auto;
        height: 42px;
        padding: 0 0 0 10px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $dark55;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $dark55;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $dark55;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $dark55;
        }
        &:focus {
            border: 2px solid $primary;
            outline: none;
            padding: 0 0 0 9px;
        }
    }

    &__error {
        @include error-copy;
        display: inherit;
        margin-top: 5px;
    }
}