.top-navigation {
    background-color: $white;
    border-bottom: 1px solid $dark35;
    box-shadow: 0 7px 14px 0 $dark10;
    box-sizing: border-box;
    display: flex;
    grid-area: header;
    padding: 10px;
    width: 100%;
    z-index: 500;

    &__logo {
        flex: 0 0 auto;
        height: 36px;
        width: 159px;
    }

    &__items {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
    }

    &__item {
        display: flex;
        flex: 0 1 auto;

        a {            
            color: $dark;
            flex: 0 1 auto;
            text-decoration: none;
            padding: 12px 12px;
            transition:
                background-color 0.1s ease-in-out;            
                @include font-size(15px);
                @include line-height(15px);
            &:hover {
                background-color: $primary;
                border-radius: 2px;
                color: $white;
            }
            &:active {
                background-color: $primaryDark;
                border-radius: 2px;
                color: $white;
            }            
        }

        &--active a {
            background-color: rgba($primary, 0.15);
            border-radius: 2px;
            color: $primary;
            font-weight: $bold;
        }
    }
}

.sidebar {
    background-color: $dark5;
    //border-right: 1px solid $dark35;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    height: 100%;
    padding: 10px 10px 10px 10px;

    &__divider {
        background-color: $dark15;
        flex: 0 0 auto;
        height: 1px;
        margin: 10px 0;
    }

    &__items {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex: 0 1 auto;

        a {            
            color: $dark55;
            flex: 1 1 auto;
            text-decoration: none;
            padding: 12px 12px;
            transition:
                background-color 0.1s ease-in-out;            
                @include font-size(15px);
                @include line-height(15px);
            &:hover {
                background-color: $primary;
                border-radius: 2px;
                color: $white;
            }
            &:active {
                background-color: $primaryDark;
                border-radius: 2px;
                color: $white;
            }            
        }

        &--active a {
            background-color: rgba($primary, 0.15);
            border-radius: 2px;
            color: $primary;
            font-weight: $bold;
        }
    }
}