.panel-style {
    background-color: $white;
    border: 1px solid $dark15;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 0;
    &--shadow {
        box-shadow: 0 7px 14px 0 $dark10;
    }
}

.content-panel {
    padding: 20px;
    &--xs {
        grid-column: span 3;
    }
    &--sm {
        grid-column: span 4;
    }
    &--md {
        grid-column: span 5;
    }
    &--lg {
        grid-column: span 6;
    }    
    &--full {
        grid-column: span 12;
    }
}