.panel-style {
    background-color: $white;
    border: 1px solid $dark15;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 0;
    &--center {
        text-align: center;
    }    
    &--shadow {
        box-shadow: 0 7px 14px 0 $dark10;
    }
}

.content-panel {
    padding: 20px;
    &--xs {
        grid-column: span 3;
    }
    &--sm {
        grid-column: span 4;
    }
    &--md {
        grid-column: span 5;
    }
    &--lg {
        grid-column: span 6;
    }    
    &--full {
        grid-column: span 12;
    }
}

.lightbox {
    position: absolute;
    padding: 30px;
    margin: 0 auto;
    width: 45%;
    background-color: $white;
    border: 1px solid $dark15;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 0;
    text-align: center;  
    box-shadow: 0 7px 14px 0 $dark10;
    &__heading {
        margin-bottom: 10px;
    }
    &__content {
        margin-bottom: 20px;
    }
}