.data-table {
    width: 100%;
    text-align: left;
    @include font-size(15px);
    @include line-height(27px);

    //Header Style
    thead > tr > th,
    tr th {
        background-color: $primary;
        color: $white;
        font-weight: $bold;               
    }

    //Row Styles
    tbody > tr,
    tr {    
        &:nth-of-type(even) {
            background-color: $dark5;
        }
        &:nth-of-type(odd) {
            background-color: $dark10;
        }                   
    }

    th, td {
        padding: 8px 10px 7px 10px;
        min-width: auto;
        white-space: nowrap;
    }

    &__link {
        color: inherit;
        @include link-states;
    }
}